/*<!----------------------list-down-menu--------------------------------------->*/

#li2:hover{
  background-color: #3e8e41;
transition-duration:  0.19s;
  transition-timing-function: ease-in;
  }
  

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display:block;}


.dropdown:hover .dropbtn 
{
background-color: #3e8e41;
transition-duration:  0.19s;
  transition-timing-function: ease-in;
  }
  
  

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display:block;}


.dropdown:hover .dropbtn 
{
background-color: #3e8e41;
transition-duration:  0.19s;
  transition-timing-function: ease-in;
  }
  #li2
  {
    margin-left: 20px;
  }


/*<!--------------------------------------------box--------------------------->*/


 #box{
width:300px;
height:450px;
border:1px solid grey;
border-radius:10px;
background-color: white;
font-family: 'Fondamento', cursive;
/*
margin-left: 450px;
margin-top: 70px;*/


}

h1{
text-align:center;
margin-top:35px;
margin-bottom:10px;
font-family: 'Fondamento', cursive;
font-size:55px;
}
#hhh{
text-align:center;

font-family: 'Fondamento', cursive;
 
font-size:xx-large;
}
#box1{
margin-left:20px;
margin-top:20px;
margin-bottom:5px;
font-family: 'Fondamento', cursive;
padding-left:10px;
width:260px;
height:40px;
border-radius:5px;

}
#box2{
margin-left:20px;
margin-top:20px;
margin-bottom:5px;
font-family: 'Fondamento', cursive;
padding-left:10px;
width:260px;
height:40px;
border-radius:5px;

}
#forgot2{
margin-left:30px;
text-decoration-line:none;
font-family: 'Fondamento', cursive;}

#forgot1{
margin-left:30px;
text-decoration-line:none;
font-family: 'Fondamento', cursive;}

#forgot3{
margin-left:30%;
font-family: 'Fondamento', cursive;
}



#boxlogin
{   width:400px;
    border: 1px solid grey;
   border-radius:20px;
   padding-top:40px;
   padding-left:20px;
   padding-right:20px;
   padding-bottom:20px;
   
   
   background-color: aliceblue;
}

#btnn
{
  
  margin-left: 30%;
}


/*<!-----------------------------------------SEARCH BAR--------------------------------------------------->*/

      .topnav {
  overflow: hidden;
  float:left;
  margin-left: 220px;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:300px;
  padding-left: 10px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/*<!---------------------------------footer----------------------------------------->*/

  .site{
      margin-top:20px;
  }
  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}

.site-footer h2
{
  color:#fff;
  font-size:18px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.copyright-text
{
  margin:0
}


.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.foootimg
{margin-top:10px;
margin-bottom:20px;
height:110px;
}